/** CSS STYLE **/

/* Общие стили */

@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Neucha;
  src: url(fonts/Neucha-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: #e5e5e5;
}

body {
  font-size: 16px;
  color: #2a2626;
  line-height: 1.6em;
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
}

.container {
  padding: 100px 0;
  margin: 0 auto;
  width: 1110px;
}

h1, h2, h3 {
  line-height: 1.2em;
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* ################################################### */

/* Стили для разных блоков, 
встречающиеся более одного раза */

h4 {
  font-size: 52px;
  line-height: 62px;
  font-weight: 400;
  font-family: Neucha;
}

h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.brown-title {
  color: #fe8a02;
}

.white-title {
  color: #f5f4f0;
}

.bg-before:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.top-paragraph-first {
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #908D8B;
}

.top-paragraph-second {
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 41px;
  color: #2A2626;
}

/*#######################################################*/

/* Разделы проекта */

/* Шапка сайта */

.header {
  position: relative;
  height: 914px;
  background: #f5f4f0;
}

header h1 {
  position: absolute;
  left: 273px;
  top: 100px;
}

.main-picture {
  position: absolute;
  top: 55px;
  left: 566px;
}

header img {
  height: 525px;
  width: 1082px;
}

.count-text {
  column-count: 2;
  column-gap: 30px;
  width: 1110px;
  margin: 0 auto;
  position: absolute;
  top: 550px;
}

.count-text p {
  margin-top: 0;
  break-inside: avoid;
}

.button {
  position: absolute;
  padding: 12px 24px;
  background: #fe8a02;
  width: 148px;
  height: 49px;
  left: 847px;
  top: 765px;
  border: none;
}

.button a {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background: #EA7600;
}

/* ####################################################### */

/* Секция с видео */

.video-section {
  background: #fff;
  height: 795px;
  text-align: center;
}

.video-section-title h2 {
  margin-bottom: 27px;
}

.video-section-title p {
  margin-bottom: 30px;
}

.inserting-video {
  margin-top: 30px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* ####################################################### */

/* Секция с навигацией */

#navigation {
  background: #42413c;
}

#navigation .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #42413c;
}

.navigation-section-title {
  background: #42413c;
  width: 350px;
  height: 323px;
  margin: 100px 30px 20px 0;
}

.navigation-section-ikea {
  background: #f5f4f0;
  width: 350px;
  height: 323px;
  margin: 100px 30px 20px 0;
}

.link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.link:hover .card-figure {
  color: #fff;
}

.link:hover .card-title {
  color: #fff;
}

.link:hover span {
  color: #fff;
}

.link:hover p {
  color: #fff;
}

.link:hover {
  background: #FE8A02;
  height: 100%;
  width: 100%;
}

.navigation-section-optimization {
  background: #f5f4f0;
  width: 350px;
  height: 323px;
  margin: 100px 0 20px 0;
}

.navigation-section-distortion {
  background: #f5f4f0;
  width: 350px;
  height: 348px;
  margin-right: 30px;
}

.navigation-section-depreciation {
  background: #f5f4f0;
  width: 350px;
  height: 348px;
  margin-right: 30px;
}

.navigation-section-mistake {
  background: #f5f4f0;
  width: 350px;
  height: 348px;
}

.card-figure {
  font-size: 64px;
  font-family: Neucha;
  line-height: 1;
  margin-bottom: 40px;
  color: #42413C;
}

.card-content {
  padding: 24px;
  color: #2A2626;
}

/* ####################################################### */

/* Секция "Эффект ИКЕА" */

#ikea-effect {
  background: #f5f4f0;
  height: 905px;
  position: relative;
}

#ikea-effect .container {
  column-count: 2;
  column-gap: 30px;
  padding-top: 533px;
}

#ikea-effect img {
  position: absolute;
  top: 100px;
  left: 272px;
  width: 578px;
  height: 434px;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.paragraph {
  position: absolute;
  top: 100px;
  left: 881px;
  width: 502px;
  height: 120px;
}

.ikea-effect-title {
  height: 26px;
  background: #b09a81;
  column-span: all;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 100px;
}

.ikea-effect-title h5 {
  text-transform: uppercase;
  color: #fff;
  padding-left: 10px;
}

.lower-left {
  height: 125px;
}

.lower-right {
  height: 125px;
  break-inside: avoid;
}

/* ####################################################### */

/* Секция "Преждевременная оптимизация" */

#premature-optimization {
  background: #B09A81;
  min-height: 855px;
  position: relative;
}

#premature-optimization .premature-paragraph {
  position: absolute;
  left: 275px;
  width: 502px;
  height: 296px;
  margin-top: 100px;
}

.top-first {
  color: #D7CCC0;
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.premature-paragraph h2 {
  color: #fff;
}

.top-second {
  color: #fff;
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 120%;
}

#premature-optimization img {
  width: 578px;
  height: 434px;
  position: absolute;
  left: 809px;
  margin-top: 100px;
}

#premature-optimization .container {
  column-count: 2;
  column-gap: 30px;
  padding-top: 535px;
}

.premature-title {
  height: 26px;
  background: #fff;
  column-span: all;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 100px;
}

.premature-title h5 {
  text-transform: uppercase;
  color: #b09a81;
  padding-left: 10px;
}

#premature-optimization .lower-left,
#premature-optimization .lower-right {
  color: #fff;
}

/* ####################################################### */

/* Секция "Искажение новизны" */

#distortion-of-novelty {
  background: #f5f4f0;
  height: 880px;
  position: relative;
}

#distortion-of-novelty .container {
  column-count: 2;
  column-gap: 30px;
  padding-top: 533px;
}

#distortion-of-novelty img {
  position: absolute;
  top: 100px;
  left: 272px;
  width: 578px;
  height: 434px;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

/* ####################################################### */

/* Секция "Гиперболическое обесценивание" */

#hyperbolic-depreciation {
  background: #B09A81;
  min-height: 855px;
  position: relative;
}

#hyperbolic-depreciation .premature-paragraph {
  position: absolute;
  left: 275px;
  width: 502px;
  height: 296px;
  margin-top: 100px;
}

/* .top-first {
  color: #D7CCC0;
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.premature-paragraph h2 {
  color: #fff;
}

.top-second {
  color: #fff;
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 120%;
} */

#hyperbolic-depreciation img {
  width: 578px;
  height: 434px;
  position: absolute;
  left: 809px;
  margin-top: 100px;
}

#hyperbolic-depreciation .container {
  column-count: 2;
  column-gap: 30px;
  padding-top: 535px;
}

#hyperbolic-depreciation .lower-left,
#hyperbolic-depreciation .lower-right {
  color: #fff;
}

/* .premature-title {
  height: 26px;
  background: #fff;
  column-span: all;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 100px;
}

.premature-title h5 {
  text-transform: uppercase;
  color: #b09a81;
  padding-left: 10px;
} */
